/*body{
  background-color: blue;
}
*/
.menu{
  background-color: red;
  margin: auto;
  width: 50%;
}
.content{
  background-color: green;
  margin: auto;
  width: 50%;
}
.body{
  background-color: blue;
  width: 100%;
  margin: auto;
}
