/* specifics for the menu class */
.menu{
  background-color: red;
  margin: auto;
  width: 400px;
  padding: 5px;
  text-align: center;
}

/* specifics for the content class */
.content{
  background-color: green;
  margin: auto;
  width: 400px;
  height: 100%;
  padding: 5px;
}

/* mouse over link */
a:hover {
  color: yellow;s
  font-weight: bold;
  font-size: 20px;
}

/* specifies the background */
.star-background {
    background-color: blue;
    background-image: url("./media/background.gif");
}
